<%- include('includes/head'); %>
<%- include('includes/sidebar'); %>
<%- include('includes/breadcrumb') %>
<%- include('includes/messages'); %>

<!-- equipment list -->
<% if (equipments.length > 0) { %>

    <!-- equipment search -->
    <div class="pageSearch">
        <form action="/equipment/show" method="get">
            <div class="row align-items-center">

                <div class="cold-md-6 equipmentSearch">            
                    <i class='bx bx-search' ></i>
                    <input type="text" name="search" placeholder="Pesquisar por Tombo, Equipamento, Empresa...">
                </div>  

                <div class="col-md-2">
                    <a data-bs-toggle="collapse" href="#collapseFilterSearch" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Filtrar Pesquisa
                    </a>
                </div>
                
                <div class="col-md-4 filterAndSeach">                
                    <button class="btn btn-primary" type="submit">
                        <p>Pesquisar</p>
                    </button>
                </div> 

            </div>          
        </form>
    </div>

    <div class="collapseFilterSearch">
        <% if (querys == 1) { %>
            <div class="collapse show" id="collapseFilterSearch">
        <% } else { %>
            <div class="collapse" id="collapseFilterSearch">
        <% } %>
                <form action="/equipment/show" method="get">
        
                    <div class="row">
                        <div class="col-md-4">
                            <label>Filtrar por Equipamento:</label>
                            <select class="form-select equipment-select" name="equipamento" aria-label="Selecione um Equipamento" placeholder="Selecione um Equipamento">
                                <option value=""></option>
                                <option value="gabinete">GABINETE</option>
                                <option value="monitor">MONITOR</option>
                                <option value="estabilizador">ESTABILIZADOR</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Filtrar por Empresa:</label>
                            <select class="form-select equipment-select" name="empresa" aria-label="Selecione um Equipamento" placeholder="Selecione um Equipamento">
                                <option></option>
                                <option value="moreia">MOREIA</option>
                                <option value="pmjn">PMJN</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Filtrar por Local:</label>
                            <select class="form-select equipment-select" name="local" aria-label="Selecione um Equipamento" placeholder="Selecione um Equipamento">
                                <option></option>
                            </select>
                        </div>   
                    </div>
        
                    <div class="row">
                        <div class="col">                
                            <button class="btn btn-primary" type="submit">
                                <p class="d-flex align-items-center"><i class='bx bx-search-alt-2' ></i> Filtrar</p>
                            </button>
                            <a href="/equipment/show" class="btn btn-danger" type="submit">
                                <p class="d-flex align-items-center"><i class='bx bx-x-circle'></i> Limpar</p>
                            </a>
                        </div>  
                    </div>
        
                </form>
            </div>
    </div>
    
    <!-- // equipment search -->

    <!-- modal delete equipment -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Excluir Equipamento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Deseja excluir o equipamento?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger deleteConfirm">Confirmar</button>
            </div>
        </div>
        </div>
    </div>
    <!-- // modal delete equipment -->

    <!-- modal QRCode equipment -->
    <div class="modal fade" id="QRCodeModal" tabindex="-1" aria-labelledby="QRCodeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="QRCodeModalLabel">QRCode</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img class="qrcodeImage" src="/assets/img/equipment.png" alt="">
            </div>
            <div class="modal-footer justify-content-center">
            <a class="qrCodeImageLinkDownload" href="/assets/img/equipment.png" download>
                <button type="button" class="btn btn-dark printerButton">
                    <i class='bx bxs-download'></i> Download 
                </button>
            </a>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                Voltar
            </button>
            </div>
        </div>
        </div>
    </div>
    <!-- // modal QRCode equipment -->

    <!-- table equipments -->
    <div class="equipments text-center">
        <div class="recents">
            <div class="cardHeader">
                <p>Visualizar: <span><a class="limiter limit-active" href="/?limit=10">10</a> - <a class="limiter" href="/?limit=25">25</a> - <a class="limiter" href="/?limit=50">50</a> - <a class="limiter" href="/?limit=100">100</a></span></p>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Tombo</th>
                            <th scope="col">Equipamento</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Local (Setor)</th>
                            <th scope="col">Responsável</th>
                            <th scope="col">Configuração</th>
                            <th scope="col">Data de Verificação</th>
                            <th scope="col">QRCode</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% equipments.forEach(equipment => { %>
                            <tr>
                                <td><%= equipment.tombo %></td>
                                <td><%= equipment.equipamento %></td>
                                <td><%= equipment.empresa %></td>
                                <td><%= equipment.local %></td>
                                <td><%= equipment.responsavel %></td>
                                <td><%= equipment.configuracao %></td>
                                <td><%= equipment.data_verificacao %></td>
                                <td>
                                    <a  href="#" class="qrcodeLink" data-bs-toggle="modal" data-bs-target="#QRCodeModal" id="<%= equipment.id %>">Visualizar <i class='bx bxs-show'></i></a>
                                </td>
                                <td>
                                    <a href="/equipment/index/<%= equipment.id %>">Editar <i class='bx bxs-pencil' ></i></a>
                                </td>
                                <td>
                                    <a class="text-danger deleteLink" data-bs-toggle="modal" data-bs-target="#exampleModal" href="/equipment/delete/<%= equipment.id %>" name="delete">Excluir <i class='bx bxs-trash-alt' ></i></a>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <!-- End Table -->
            </div>
            <!-- End Responsive Table -->
        </div>
    </div>
    <!-- // table equipments -->

<% } else { %>
    <p class="text-center lead no-equipments">
        Não existem equipamentos cadastrados.
        </br></br>
        <a href="/equipment/index" class="btn btn-success">
            <i class='bx bx-plus'></i>  Adicionar Equipamento</a>
    </p>
<% } %>
<!-- // equipment list -->

<%- include('includes/footer'); %>