<%- include('includes/head'); %>
<%- include('includes/sidebar'); %>

<!-- page header -->
<div class="pageHeader">
    <div class="pageOrder">
        <h2><a href="/">Página Inicial</a></h2>
        <i class='bx bx-chevron-right'></i>
        <h2><b>Editar Equipamento</b></h2>
    </div>
    <hr>
</div>
<!-- page header -->

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class=" text-center">Equipamento</h1>
            <p class="text-center lead">Crie ou edite seu equipamento abaixo</p>

            <%- include('includes/messages') %>
            
            <% if(equipment.id) { %>
            <form action="/equipment/edit/<%= equipment.id %>" method="POST" class="my-3">
            <% } else { %>
            <form action="/equipment/register" method="POST" class="my-3">
            <% } %>
                <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                <div class="form-group">
                    <label>Tombo:</label>
                    <input type="number" class="form-control" name="tombo" value="<%= equipment.tombo %>">
                </div>
                <div class="form-group">
                    <label>Equipamento:</label>
                    <input type="text" class="form-control" name="equipamento" value="<%= equipment.equipamento %>" required>
                </div>
                <div class="form-group">
                    <label>Empresa:</label>
                    <input type="text" class="form-control" name="empresa" value="<%= equipment.empresa %>" required>
                </div>
                <div class="form-group">
                    <label>Local:</label>
                    <input type="text" class="form-control" name="local" value="<%= equipment.local %>" required>
                </div>
                <div class="form-group">
                    <label>Responsável:</label>
                    <input type="text" class="form-control" name="responsavel" value="<%= equipment.responsavel %>">
                </div>
                <div class="form-group">
                    <label>Configuração:</label>
                    <input type="text" class="form-control" name="configuracao" value="<%= equipment.configuracao %>">
                </div>
                <div class="form-group">
                    <label>Data de Verificação:</label>
                    <input type="text" class="form-control" id="equipment-date" name="data_verificacao" placeholder="dd/mm/aaaa" value="<%= equipment.data_verificacao %>" maxlength="8" required>
                </div>
                <button type="submit" class="btn btn-primary my-2">Salvar</button>
                <a  class="btn btn-primary my-2" href="/equipment/index">Adicionar Outro</a>
            </form>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>
