<%- include('includes/head'); %>
<%- include('includes/sidebar'); %>

<%- include('includes/breadcrumb') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <p class="text-center lead">Crie ou edite seu equipamento abaixo</p>
            
            <%- include('includes/messages') %>

            <% if (equipment.id) { %>
            <form action="/equipment/edit/<%= equipment.id %>" method="POST" class="my-3">
            <% } else { %>
            <form action="/equipment/register" method="POST" class="my-3">
            <% } %>
                <input type="hidden" name="_csrf" value=<%= csrfToken %>>

                <div class="row mb-4">
                    
                    <div class="col">
                      <div class="form-outline">
                        <input type="number" id="form6Example1" class="form-control" name="tombo" value="<%= equipment.tombo %>" required />
                        <label class="form-label" for="form6Example1">Tombo</label>
                      </div>
                    </div>
                    <!-- End Input Tombo -->
  
                    <div class="col">
                      <div class="form-outline">
                          <select class="form-select equipment-select" id="form6Example2" name="equipamento" aria-label="Selecione um Equipamento" placeholder="Selecione um Equipamento" required>
                              <option value="<%= equipment.equipamento %>"></option>
                          </select>
                          <label class="form-label" for="form6Example2">Equipamento</label>
                      </div>
                    </div>
                    <!-- End Select Option Equipamento -->
                  </div>
  
                  <div class="row mb-4">
                      <div class="col">
                          <div class="form-outline">
                              <select class="form-select empresa-select" id="form6Example3" name="empresa" aria-label="Selecione uma Empresa" placeholder="Selecione uma Empresa" required>
                                  <option value="<%= equipment.empresa %>"></option>
                              </select>
                              <label class="form-label" for="form6Example3">Empresa</label>
                          </div>
                      </div>
                      <!-- End Select Option Empresa -->
  
                      <div class="col">
                          <div class="form-outline">
                              <label class="form-label" for="form6Example3">Alugado/Locado: </label>
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                  <label class="form-check-label" for="inlineRadio1">Sim</label>
                              </div>
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                  <label class="form-check-label" for="inlineRadio2">Não</label>
                              </div>
                          </div>
                      </div>
                  </div>
  
                  <div class="row mb-4">
                      <div class="col">
                          <div class="form-outline">
                              <select class="form-select secretaria-select" id="form6Example4" name="local" aria-label="Selecione uma secretaria" placeholder="Selecione uma secretaria" required>
                                  <option  value="<%= equipment.secretaria %>"></option>
                              </select>
                              <label class="form-label" for="form6Example4">Secretaria</label>
                          </div>
                      </div>
                      <!-- End Select Option Secretaria -->
  
                      <div class="col">
                          <div class="form-outline">
                              <select class="form-select setor-select" id="form6Example5" name="setor" aria-label="Selecione um setor" placeholder="Selecione um setor" required>
                                  <option  value="<%= equipment.setor %>"></option>
                              </select>
                              <label class="form-label" for="form6Example5">Setor</label>
                          </div>
                      </div>
                      <!-- End Select Option Setor -->
                  </div>
                              
                  <div class="form-outline mb-4">
                    <input type="text" id="form6Example6" class="form-control" name="responsavel" value="<%= equipment.responsavel %>"/>
                    <label class="form-label" for="form6Example6">Responsável</label>
                  </div>
                  <!-- End Input Reponsável -->
  
                  <div class="form-outline mb-4">
                      <input type="text" id="form6Example7" class="form-control" name="data_verificacao" value="<%= equipment.data_verificacao %>" required />
                      <label class="form-label" for="form6Example7">Data de Verificação</label>
                  </div>
                  <!-- End Input Data de Verificação -->
                
                  <div class="form-outline mb-4">
                    <textarea class="form-control" id="form6Example8" name="configuracao" rows="4"><%= equipment.configuracao %></textarea>
                    <label class="form-label" for="form6Example8">Configuração</label>
                  </div>
                  <!-- End Input Configuração -->
  
                <button type="submit" class="btn btn-primary btn-block mb-4">Salvar</button>
                <a class="btn btn-primary btn-block mb-4" href="/equipment/index">Adicionar Outro</a>
            </form>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>
