<%- include('includes/head'); %>
<%- include('includes/sidebar'); %>

<!-- page header -->
<div class="pageHeader">
    <div class="pageOrder">
        <h2><a href="/">Página Inicial</a></h2>
        <i class='bx bx-chevron-right'></i>
        <h2><b>Dashboard</b></h2>
    </div>
    <hr>
</div> 
<!-- // page header -->

<!-- page cards -->
<div class="pageCards">
    <div class="card text-white dashboard-card">
        <i class='card-img icons-card-dashboard bx bx-file'></i>
        <div class="card-img-overlay">
          <h5 class="card-title"><%= equipments_qtd %></h5>
          <p>Equipamentos Cadastrados</p>
        </div>
        <a href="#">
            <div class="card-details-link">
                <p class="card-text">Mais Detalhes <i class='bx bxs-chevron-right'></i></p>
            </div>
        </a>
    </div>

    <div class="card text-white dashboard-card" id="card-add-equipment">
        <i class='card-img icons-card-dashboard bx bxs-file-plus'></i>
        <div class="card-img-overlay">
          <h5 class="card-title"></h5>
          <p>Adicionar Equipamento</p>
        </div>        
        <a href="/equipment/index">
            <div class="card-details-link">
                <p class="card-text">Mais Detalhes <i class='bx bxs-chevron-right'></i></p>
            </div>
        </a>
    </div>

    <div class="card text-white dashboard-card">
        <i class='card-img icons-card-dashboard  bx bxs-user'></i>
        <div class="card-img-overlay">
          <h5 class="card-title"></h5>
          <p>Dados do Usuário</p>
        </div>
        <a href="#">
            <div class="card-details-link">
                <p class="card-text">Mais Detalhes <i class='bx bxs-chevron-right'></i></p>
            </div>
        </a>
    </div>
</div>
<!-- // page cards -->

<%- include('includes/messages'); %>

<!-- equipment list -->
<% if (equipments.length > 0) { %>

    <!-- equipment search -->
    <div class="pageSearch">
        <form action="/index" method="get">
            <div class="equipmentSearch">            
                <i class='bx bx-search' ></i>
                <input type="text" name="search" placeholder="Pesquisar por Tombo, Equipamento, Empresa...">
            </div>  

            <div class="filterAndSeach">                
                <button class="btn btn-primary" type="submit">
                    <p>Buscar</p>
                </button>
            </div>     
            <a href="/equipment/index" class="btn btn-success">                
                <p>Novo Equipamento</p>
            </a>       
        </form>
    </div>
    <!-- // equipment search -->

    <!-- modal delete equipment -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Excluir Equipamento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Deseja excluir o equipamento?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger deleteConfirm">Confirmar</button>
            </div>
        </div>
        </div>
    </div>
    <!-- // modal delete equipment -->

    <!-- modal QRCode equipment -->
    <div class="modal fade" id="QRCodeModal" tabindex="-1" aria-labelledby="QRCodeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="QRCodeModalLabel">QRCode</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img class="qrcodeImage" src="/assets/img/equipment.png" alt="">
            </div>
            <div class="modal-footer justify-content-center">
            <a class="qrCodeImageLinkDownload" href="/assets/img/equipment.png" download>
                <button type="button" class="btn btn-dark printerButton">
                    <i class='bx bxs-download'></i> Download 
                </button>
            </a>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                Voltar
            </button>
            </div>
        </div>
        </div>
    </div>
    <!-- // modal QRCode equipment -->

    <!-- table equipments -->
    <div class="equipments">
        <div class="recents">
            <div class="cardHeader">
                <p>Visualizar: <span><a class="limiter limit-active" href="/?limit=10">10</a> - <a class="limiter" href="/?limit=25">25</a> - <a class="limiter" href="/?limit=50">50</a> - <a class="limiter" href="/?limit=100">100</a></span></p>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Tombo</th>
                        <th scope="col">Equipamento</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Local (Setor)</th>
                        <th scope="col">Responsável</th>
                        <th scope="col">Configuração</th>
                        <th scope="col">Data de Verificação</th>
                        <th scope="col">QRCode</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% equipments.forEach(equipment => { %>
                        <tr>
                            <td><%= equipment.tombo %></td>
                            <td><%= equipment.equipamento %></td>
                            <td><%= equipment.empresa %></td>
                            <td><%= equipment.local %></td>
                            <td><%= equipment.responsavel %></td>
                            <td><%= equipment.configuracao %></td>
                            <td><%= equipment.data_verificacao %></td>
                            <td>
                                <a  href="#" class="qrcodeLink" data-bs-toggle="modal" data-bs-target="#QRCodeModal" id="<%= equipment.id %>">Visualizar <i class='bx bxs-show'></i></a>
                            </td>
                            <td>
                                <a href="/equipment/index/<%= equipment.id %>">Editar <i class='bx bxs-pencil' ></i></a>
                            </td>
                            <td>
                                <a class="text-danger deleteLink" data-bs-toggle="modal" data-bs-target="#exampleModal" href="/equipment/delete/<%= equipment.id %>" name="delete">Excluir <i class='bx bxs-trash-alt' ></i></a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <!-- // table equipments -->

<% } else { %>
    <p class="text-center lead no-equipments">
        Não existem equipamentos cadastrados.
        </br></br>
        <a href="/equipment/index" class="btn btn-success">
            <i class='bx bx-plus'></i>  Adicionar Equipamento</a>
    </p>
<% } %>
<!-- // equipment list -->

<%- include('includes/footer'); %>