<%- include('includes/head'); %>

<div class="container">
    <div class="row">
        <h1 class="text-center">Equipamentos</h1>
        <p class="text-center lead">Seus Equipamentos estão abaixo</p>

        <%- include('includes/messages'); %>

        <% if (equipments.length > 0) { %>
            <div class="responsive-table">
                <table class="table my-3">
                    <tr>
                        <th>Tombo</th>
                        <th>Equipamento</th>
                        <th>Empresa</th>
                        <th>Local</th>
                        <th>Responsavel</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <% equipments.forEach(equipment => { %>
                    <tr>
                        <td><%= equipment.tombo %></td>
                        <td><%= equipment.equipamento %></td>
                        <td><%= equipment.empresa %></td>
                        <td><%= equipment.local %></td>
                        <td><%= equipment.responsavel %></td>
                        <td>
                            <a href="/equipment/index/<%= equipment.id %>">Editar</a>
                        </td>
                        <td>
                            <a
                                class="text-danger"
                                href="/equipment/delete/<%= equipment._id %>"
                                >Excluir</a
                            >
                        </td>
                    </tr>
                    <% }); %>
                </table>
            </div>
        <% } else { %>
            <p class="text-center lead">Não existem contatos na sua agenda.</p>
        <% } %>
    </div>
</div>

<%- include('includes/footer'); %>
