<%- include('includes/head'); %>
<%- include('includes/sidebar'); %>

<!-- page header -->
<div class="pageHeader">
    <div class="pageOrder">
        <h2><a href="/">Página Inicial</a></h2>
        <i class='bx bx-chevron-right'></i>
        <h2><b>Equipamentos</b></h2>
    </div>
    <hr>
    <div class="pageSearch">
        <form action="/index" method="get">
            <div class="equipmentSearch">            
                <i class='bx bx-search' ></i>
                <input type="text" name="search" placeholder="Pesquisar...">
            </div>  

            <a href="#">Busca Avançada</a>

            <div class="filterAndSeach">                
                <button class="btn" type="submit">
                    <p>Realizar Pesquisa</p>
                </button>
            </div>     
        </form>
    </div>
</div>
<!-- // page header -->

<%- include('includes/messages'); %>

<!-- equipment list -->
<% if (equipments.length > 0) { %>
    <div class="equipments">
        <div class="recents">
            <div class="cardHeader">
                <p>Visualizar: <span>10 - <b>25</b> - 50 - 100</span></p>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Tombo</th>
                        <th scope="col">Equipamento</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Local</th>
                        <th scope="col">Responsavel</th>
                        <th scope="col">Ações</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% equipments.forEach(equipment => { %>
                        <tr>
                            <td><%= equipment.tombo %></td>
                            <td><%= equipment.equipamento %></td>
                            <td><%= equipment.empresa %></td>
                            <td><%= equipment.local %></td>
                            <td><%= equipment.responsavel %></td>
                            <td>
                                <a href="/equipment/index/<%= equipment.id %>">Editar <i class='bx bxs-pencil' ></i></a>
                            </td>
                            <td>
                                <a class="text-danger" href="/equipment/delete/<%= equipment.id %>" name="delete">Excluir <i class='bx bxs-trash-alt' ></i></a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
<% } else { %>
    <p class="text-center lead no-equipments">Não existem equipamentos cadastrados.</p>
<% } %>
<!-- // equipment list -->

<%- include('includes/footer'); %>