<%- include('includes/head'); %>

<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class='bx bx-laptop' ></i>
            <div class="logo_name">Equipment Manager</div>
        </div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav_list">
        <li>
            <i class='bx bx-search' ></i>
            <input type="text" placeholder="Pesquisar...">
            <span class="tooltip">Pesquisar</span>
        </li>
        <li>
            <a href="/">
                <i class='bx bx-grid-alt' ></i>
                <span class="links_name">Página Inicial</span>
            </a>
            <span class="tooltip">Página Inicial</span>
        </li>
        <li>
            <a href="">
                <i class='bx bx-user' ></i>
                <span class="links_name">Usuário</span>
            </a>
            <span class="tooltip">Usuário</span>
        </li>
        <li>
            <a href="/equipment/index">
                <i class='bx bx-plus-circle'></i>
                <span class="links_name">Adicionar Equipamento</span>
            </a>
            <span class="tooltip">Adicionar</span>
        </li>
        <li>
            <a href="">
                <i class='bx bx-minus-circle' ></i>
                <span class="links_name">Remover Equipamento</span>
            </a>
            <span class="tooltip">Remover</span>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <img src="" alt="">
                <div class="name_job">
                    <div class="name">Wallyson Pablo</div>
                    <div class="job">Estudante</div>
                </div>
            </div>
            <a href="/login/logout">
                <i class='bx bx-log-out' id="log_out" ></i>
            </a>
        </div>
    </div>
</div>

<div class="container">        
    <div class="container-equipments">
        <div class="row">
            <h1 class="text-center">Equipamentos</h1>
            <p class="text-center lead">Seus Equipamentos estão abaixo</p>
    
            <%- include('includes/messages'); %>
    
            <% if (equipments.length > 0) { %>
                 <!-- Another variation with a button -->
                <div class="input-group">
                    <form action="/index" method="GET" class="search-form">
                            <input type="text" class="form-control" name="search" placeholder="Pesquise por tombo, equipamento, empresa, local ou responsável">
    
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                    </form>
                </div>
    
                <div class="table-responsive">
                    <table class="table my-3">
                        <tr>
                            <th>Tombo</th>
                            <th>Equipamento</th>
                            <th>Empresa</th>
                            <th>Local</th>
                            <th>Responsavel</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <% equipments.forEach(equipment => { %>
                        <tr>
                            <td><%= equipment.tombo %></td>
                            <td><%= equipment.equipamento %></td>
                            <td><%= equipment.empresa %></td>
                            <td><%= equipment.local %></td>
                            <td><%= equipment.responsavel %></td>
                            <td>
                                <a href="/equipment/index/<%= equipment.id %>">Editar</a>
                            </td>
                            <td>
                                <a
                                    class="text-danger"
                                    href="/equipment/delete/<%= equipment.id %>"
                                    name="delete"
                                    >Excluir</a
                                >
                            </td>
                        </tr>
                        <% }); %>
                    </table>
                </div>
            <% } else { %>
                <p class="text-center lead no-equipments">Não existem equipamentos cadastrados.</p>
            <% } %>
        </div>
    </div>
</div>


<%- include('includes/footer'); %>
