<%- include('includes/head'); %>
<%- include('includes/sidebar'); %>

<!-- page header -->
<div class="pageHeader">
    <div class="pageOrder">
        <h2><a href="/">Página Inicial</a></h2>
        <i class='bx bx-chevron-right'></i>
        <h2><b>Equipamentos</b></h2>
    </div>
    <hr>

</div> 
<!-- // page header -->

<%- include('includes/messages'); %>

<!-- equipment list -->
<% if (equipments.length > 0) { %>

    <!-- equipment search -->
    <div class="pageSearch">
        <form action="/index" method="get">
            <div class="equipmentSearch">            
                <i class='bx bx-search' ></i>
                <input type="text" name="search" placeholder="Pesquisar por Tombo, Equipamento, Empresa...">
            </div>  

            <div class="filterAndSeach">                
                <button class="btn" type="submit">
                    <p>Realizar Pesquisa</p>
                </button>
            </div>     
        </form>
    </div>
    <!-- // equipment search -->

    <!-- modal delete equipment -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Excluir Equipamento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Deseja excluir o equipamento?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger deleteConfirm">Confirmar</button>
            </div>
        </div>
        </div>
    </div>
    <!-- // modal delete equipment -->

    <!-- modal QRCode equipment -->
    <div class="modal fade" id="QRCodeModal" tabindex="-1" aria-labelledby="QRCodeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="QRCodeModalLabel">QRCode</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img class="qrcodeImage" src="/assets/img/equipment.png" alt="">
            </div>
            <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-dark printerButton">Imprimir</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Voltar</button>
            </div>
        </div>
        </div>
    </div>
    <!-- // modal QRCode equipment -->

    <!-- table equipments -->
    <div class="equipments">
        <div class="recents">
            <div class="cardHeader">
                <p>Visualizar: <span><a class="limiter limit-active" href="/?limit=10">10</a> - <a class="limiter" href="/?limit=25">25</a> - <a class="limiter" href="/?limit=50">50</a> - <a class="limiter" href="/?limit=100">100</a></span></p>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Tombo</th>
                        <th scope="col">Equipamento</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Local (Setor)</th>
                        <th scope="col">Responsável</th>
                        <th scope="col">Configuração</th>
                        <th scope="col">Data de Verificação</th>
                        <th scope="col">QRCode</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% equipments.forEach(equipment => { %>
                        <tr>
                            <td><%= equipment.tombo %></td>
                            <td><%= equipment.equipamento %></td>
                            <td><%= equipment.empresa %></td>
                            <td><%= equipment.local %></td>
                            <td><%= equipment.responsavel %></td>
                            <td><%= equipment.configuracao %></td>
                            <td><%= equipment.data_verificacao %></td>
                            <td>
                                <a class="qrcodeLink" data-bs-toggle="modal" data-bs-target="#QRCodeModal" id="<%= equipment.id %>">Visualizar</a>
                            </td>
                            <td>
                                <a href="/equipment/index/<%= equipment.id %>">Editar <i class='bx bxs-pencil' ></i></a>
                            </td>
                            <td>
                                <a class="text-danger deleteLink" data-bs-toggle="modal" data-bs-target="#exampleModal" href="/equipment/delete/<%= equipment.id %>" name="delete">Excluir <i class='bx bxs-trash-alt' ></i></a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <!-- // table equipments -->

<% } else { %>
    <p class="text-center lead no-equipments">Não existem equipamentos cadastrados.</p>
<% } %>
<!-- // equipment list -->

<%- include('includes/footer'); %>